<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首頁</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-sm p-4" style="width: 100%; max-width: 400px;">
        <h3 class="text-center mb-4" th:text="${userName} + ' 歡迎!!'">使用者歡迎!!</h3>

        <div class="d-grid gap-3">
            <form th:action="@{/user/userdashboard/punch}" method="post">
                <button type="submit" class="btn btn-primary" style="width: 350px;">打卡</button>
            </form>
            <a th:href="@{/user/userdashboard/punch/history}" class="btn btn-outline-primary">打卡查詢</a>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    let message = /*[[${message}]]*/ null;
    if (message !== null && message !== '') {
        if (message === 'success') {
            alert('打卡成功！');
        }else{
            alert('打卡失敗!')
        }
    }
    /*]]>*/
</script>
</body>
</html>
